.DS_Store

## LaTeX build artifacts
*.aux
*.bbl*
*.bcf
*.bcf-SAVE-ERROR
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.run.xml
*.toc
*.synctex.gz
*.synctex.gz(busy)
*.xdv
*.ilg
*.ind
*.idx
*.ist
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
